canvas {
  margin-bottom: 10px;
  border:2px solid black;
}
.lower-band {
  background: green;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
button {
  width: 100%;
  border: none;
  color: white;
  padding: 10px;
  font-size: 1.3em;
}
button:hover {
  cursor: pointer;
  box-shadow: 0 0 8px #888888;

}
