.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 35px;
}
