<div class="upper">
  <div style="display: none;">
    <app-video-input></app-video-input>
  </div>
  <div>
    <h2>The Face Recognition Pong Game</h2>
    <p>This game is built with OpenCV.js and Angular 8 cli.</p>
    <p>Tap start and control the bar using your head movement.</p>
    <p>You can also see your live video feed and position of your head.
    You dont need to move your head a lot, small movements should do fine.</p>
    <p>This face recognition project runs entirely in browser and shows the power of moder javascript.</p>
    <p>Here is <a href="https://github.com/arnavvats/motion-capture-app.git"> the link </a> to the github repository, be sure to make a pull request if you want to enhance the project, and star it.</p>
  </div>
  <div>
    <app-video-output></app-video-output>
  </div>
</div>
<div class="game">
  <app-game></app-game>
</div>
